@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf")
    format(truetype);
}

//! Tolta animazione

@mixin animation {
  $name: circle;

  @keyframes #{$name} {
    from {
      transform: scale(0.6, 0.6);
      box-shadow: 0 0 0 1.5px black;
    }
    to {
      transform: scale(0.9, 0.9);
      box-shadow: 0 0 0 1px black;
    }
  }

  animation-name: $name;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

